
<ng-container *ngIf="(rating$ | async)  as rating; else norating ">
    <div class="hdca-product-box__main-info-rating-link-stars">
        <span class="hdca-product-box__main-info-rating-link-stars-overlay" [style.width]="(rating * 20).toString() + '%'"></span>
        <meta itemprop="worstRating" content="1" />
        <meta itemprop="ratingValue" content="3" />
        <meta itemprop="bestRating" content="5" />
    </div>

</ng-container>

<ng-template #norating>
    
    <!-- No Rating For this Product -->
</ng-template>
